@using Automarket.Domain.Enum;
@using Automarket.Domain.Extensions

@{
    Layout = "_ServiceLayout";
    ViewData["Title"] = @ServiceType.Turbine_Service.GetDisplayName();
}

<section>
    <div class="service_container">
        <div class="service_column">
            <div class="services_ul">
                <ul>
                    <li class="service_li">Cleaning the boost system</li>
                    <li class="service_li">Geometry cleaning</li>
                    <li class="service_li">Bypass cleaning</li>
                    <li class="service_li">Overhaul of the turbine</li>
                </ul>
            </div>            
        </div>
        <div class="service_img_container">
            <img class="service_img" src="~/img/site/turbine_service.png" alt="Turbine service" />
        </div>
    </div>
</section>